.main-logo {
    background-image: url(https://imgx.parapuan.co/crop/0x0:0x0/945x630/photo/2021/08/19/istock-1263873825jpg-20210819060047.jpg);
    background-size: cover;
    background-position: center;
}